html {
    scroll-behavior: smooth;
}

::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: "Vin";
}

h3,
h4 {
    font-family: "Vin";
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    margin: 0;
}

html,
body {
    line-height: 1;
    font-size: 4px;
    color: #F0F8FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body._lock {
    overflow: hidden;
}

/* ----------------------------------------*/

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* ----------------------------------------*/

._container {
    max-width: 1040px;
    margin: 0px auto;
    padding: 0px 60px;
    box-sizing: content-box;
}

.ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*--------------------------MAIN-------------*/

.page {
    flex: 1 1 auto;
}

.main-block {
    position: relative;
}

.main-block__body>*:not(:last-child) {
    margin: 0px 0px 35px 0px;
}

.main-block__body {
    padding: 150px 0px 150px 0px;
    z-index: 2;
    position: relative;
}

.main-block__title {
    padding: 100px 0px 0px 0px;
    font-size: 72px;
    line-height: calc(80/58*100%);
}

.main-block__text {
    color: #16232B;
    font-size: 24px;
    line-height: calc(80/58*100%);
    max-width: 600px;
}


/*---------------------*/
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*------------------------------------------*/

@font-face {
    font-family: "Vin";
    src: url("../fonts/VinnytsiaSansReg.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}